
<!-- Header -->
<header id="header">
  <div class="inner">
    <div class="content">
      <h1>LCM</h1>
      <h2>Preencha os campos abaixo para realizar seu cadasto.</h2>
      <a class="button big alt"><span>Vamos lá!</span></a>
    </div>
    <a class="button hidden"><span>Vamos la!</span></a>
  </div>
</header>

<!-- Main -->
<div id="preview">
  <div class="inner">
      <a href="/cadastro">voltar</a>
      <!-- <a style="float:right" href="/login" >Logout </a> -->
    <div class="image fit">
      <img src="../../../assets/images/cadastro/banner_cadastro.jpg" alt="" />
    </div>
    <div class="content">
      <header>
        <h2>Cadastro Prestador de Serviço</h2>
      </header>
      <div id="welcome">
        <div class="title">
          <span class="byline"><b>Preencha todos os campos obrigatórios.</b></span>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading">
              </header>
              <div class="panel-body">
                <div class="form">
                  <form class="form-validate form-horizontal " id="register_form" method="get" action="">
                      <div class="form-group ">
                          <label for="foto" class="control-label col-lg-2">Foto de perfil<span class="required">*</span></label>
                          <img id="avatar" width="100px" height="100px" [src]="imageSrc" />
                          <br/>
                          <input id="meuArquivo" type="file" name="file" accept=".jpg,.jpeg"
                            (change)="previewImagem($event)" />
                        </div>
                    <div class="form-group ">
                      <label for="fullname" class="control-label col-lg-2">Nome Completo<span
                          class="required">*</span></label>
                      <div class="col-lg-10">
                        <input [(ngModel)]="prestador.nome" class=" form-control" id="fullname" name="fullname"
                          type="text" />
                      </div>
                    </div>
                    <br>
                    <div class="form-group ">
                      <label for="username" class="control-label col-lg-2">Login <span
                          class="required">*</span></label>
                      <div class="col-lg-10">
                        <input [(ngModel)]="prestador.login" (blur)="this.confereLogin()" class="form-control " id="username" name="username"
                          type="text" />
                          <p *ngIf="this.loginJaCadastrado" style="color:red;">Login ja existe</p>
                      </div>
                    </div>
                    <br>
                    <div class="form-group ">
                      <label for="password" class="control-label col-lg-2">Senha <span class="required">*</span></label>
                      <div class="col-lg-10">
                        <input [(ngModel)]="prestador.senha" class="form-control " id="password" name="password"
                          type="password" />
                          <p *ngIf="this.prestador.senha.length >= 1 && this.prestador.senha.length < 6 " style="color:red;">senha precisa ter ao menso 6 caracteres</p>
                      </div>
                    </div>
                    <br>
                    <div class="form-group ">
                      <label for="confirm_password" class="control-label col-lg-2">Confirmar Senha <span
                          class="required">*</span></label>
                      <div class="col-lg-10">
                        <input [(ngModel)]="prestador.confirmaSenha" class="form-control " id="confirm_password"
                          name="confirm_password" type="password" />
                          <p *ngIf="this.prestador.confirmaSenha.length >= 1 && this.prestador.senha != this.prestador.confirmaSenha" style="color:red;">senhas não são iguais</p>
                      </div>
                    </div>
                    <br>
                    <div class="form-group ">
                      <label for="email" class="control-label col-lg-2">Email <span class="required">*</span></label>
                      <div class="col-lg-10">
                        <input [(ngModel)]="prestador.email" (blur)="this.confereEmail()"  class="form-control " id="email" name="email" type="email" />
                        <p *ngIf="this.emailJaCadastrado" style="color:red;">email ja cadastrado</p>
                      </div>
                    </div>
                    <br>
                    <div class="form-group ">
                      <label for="nascimento" class="control-label col-lg-2">Data de Nascimento <span
                          class="required">*</span></label>
                      <div class="col-lg-10">
                        <input [(ngModel)]="prestador.datanascimento  " class="form-control " id="nascimento"
                          name="nascimento" type="date" />
                      </div>
                    </div>
                    <br>
                    <div class="form-group ">
                      <label for="sexo" class="control-label col-lg-2">Sexo <span class="required">*</span></label>
                      <select (change)="setSexo($event)" id=sexo>
                          <!-- [(ngModel)]="prestador.sexo" -->
                          <option [value]="3">Outro</option>
                          <option [value]="1">Masculino</option>
                          <option [value]="2">Feminino</option>
                        </select>
                    </div>
                    <br>
                    <div class="form-group ">
                      <label for="cpf" class="control-label col-lg-2">CPF <span class="required">*</span></label>
                      <div class="col-lg-10">
                        <input [(ngModel)]="prestador.cpf" (blur)="confereCpf(prestador.cpf)" minlength="11"  mask="000.000.000.00" [showMaskTyped] = "true" class="form-control " id="cpf" name="cpf" type="text" />
                        <p *ngIf="this.cpfJaCadastrado" style="color:red;">cpf ja cadastrado</p>
                      </div>
                    </div>
                    <br>
                    <div class="form-group ">
                      <label for="telefone" class="control-label col-lg-2">Telefone <span
                          class="required">*</span></label>
                      <div class="col-lg-10">
                        <input [(ngModel)]="prestador.telefone" class="form-control " id="telefone" name="telefone" mask="(00) 000000000" type="text" />
                      </div>
                    </div>
                    <br>
                    <div class="form-group ">
                      <label for="UF" class="control-label col-lg-2">Estado <span class="required">*</span></label>
                      <select (change)="setEstado($event)" >
                        <option *ngFor="let estado of estados" [value]="estado.key">{{estado.value}}</option>
                      </select>
                    </div>
                    <div class="form-group ">
                      <label for="cidade" class="control-label col-lg-2">Cidade <span class="required">*</span></label>
                      <select (change)="setCidade($event)" >
                        <option *ngFor="let cidade of cidades" [value]="cidade.key">{{cidade.value}}</option>
                      </select>
                    </div>
                    <div class="form-group ">
                      <label for="bairro" class="control-label col-lg-2">Bairro <span class="required">*</span></label>
                      <div class="col-lg-10">
                        <input [(ngModel)]="prestador.bairro" class="form-control " id="bairro" name="bairro"
                          type="text" />
                      </div>
                    </div>
                    <div class="form-group ">
                      <label for="cep" class="control-label col-lg-2">CEP <span class="required">*</span></label>
                      <div class="col-lg-10">
                        <input [(ngModel)]="prestador.cep" mask="00000-000" class="form-control " id="cep" name="cep" type="text" />
                      </div>
                    </div>
                    <div class="form-group ">
                      <label for="rua" class="control-label col-lg-2">Rua <span class="required">*</span></label>
                      <div class="col-lg-10">
                        <input [(ngModel)]="prestador.rua" class="form-control " id="rua" name="rua" type="text" />
                      </div>
                    </div>
                    <div class="form-group ">
                      <label for="numero" class="control-label col-lg-2">Número <span class="required">*</span></label>
                      <div class="col-lg-10">
                        <input [(ngModel)]="prestador.numero" mask="000000" class="form-control " id="numero" name="numero"
                          type="text" />
                      </div>
                    </div>
                    <div class="form-group ">
                      <label for="comlemento" class="control-label col-lg-2">Complemento <span
                          class="required">*</span></label>
                      <div class="col-lg-10">
                        <input [(ngModel)]="prestador.complemento" class="form-control " id="complemento"
                          name="complemento" type="text" />
                      </div>
                    </div>
                    <div class="form-group ">
                      <label for="competencias" class="control-label col-lg-2">Competências <span
                          class="required">*</span></label>
                      <div class="col-lg-10">
                        <ng-multiselect-dropdown [placeholder]="'Competências'" [data]="this.competencias"
                        [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="setCompetencias($event)" name="competencias"
                        (onSelectAll)="setTodasCompetencias($event)" (onDeSelect)="removerCompetencia($event)">
                      </ng-multiselect-dropdown>
                      </div>
                    </div>

                    <div class="form-group ">
                      <div class="form-group ">
                        <label for="historico" class="control-label col-lg-2">Histórico Profissional</label>
                        <div class="col-lg-10">
                            <input id="meuArquivo" type="file" name="file" accept=".pdf" (change)="saveBase64($event)" />
                        </div>
                      </div>
                    <br>
                    </div>

                    <br>
                    <div class="form-group ">
                      <label for="comentario" class="control-label col-lg-2">Comentário</label>
                      <div class="col-lg-10">
                        <input [(ngModel)]="prestador.comentario" class="form-control " id="comentario"
                          name="comentario" type="text" />
                      </div>
                    </div>
                    <br>
                    <div class="form-group ">
                      <label for="termos" class="control-label col-lg-2">Termos e política de uso <span
                          class="required">*</span></label>
                      <select (change)="setTermos($event)" id="termos">
                        <option [value]="false">Não aceito</option>
                        <option [value]="true">Aceito</option>
                      </select>
                    </div>
                    <br>
                    <!-- <div class="form-group ">
                  <label for="agree" class="control-label col-lg-2 col-sm-3">Aceita nossa política? <span class="required">*</span></label><input type="checkbox" style="width: 20px" class="checkbox form-control" id="agree" name="agree" />
                    <form> 
                      <INPUT TYPE="RADIO" NAME="OPCAO1" VALUE="op1_epoca"> Aceito <br>
                      <INPUT TYPE="RADIO" NAME="OPCAO2" VALUE="op2_epoca"> Não aceito <br>
                    </form> 
                </div> -->
                    <br>
                    <div class="form-group">
                      <div class="col-lg-offset-2 col-lg-10">
                        <button (click)="salvar()" class="btn btn-primary" type="submit">Salvar</button>
                        <button (click)="cancelar()" class="btn btn-default" type="button">Cancelar</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <button (click)="voltar()">Voltar</button> -->

</div>

<!-- Footer -->
<footer id="footer">
  <a href="#" class="info fa fa-info-circle"><span>Sobre</span></a>
  <div class="inner">
    <div class="content">
      <h3>Bem Vindo ao Life Care Manager</h3>
      <p>Com uma equipe qualificada com médicos experientes e o mais alto padrão de atendimento, a LCM oferece
        qualidade, economia, e mais comodidade para você e sua família.</p>
    </div>
    <div class="copyright">
      <h3>Siga-nos</h3>
      <ul class="icons">
        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
      </ul>
      &copy; LCM. Developed by: <a href="#">GK2V Team - PUC-Campinas,SP</a>
    </div>
  </div>
</footer>