<!-- <p>usuario: {{this.usuario.name}}</p>

<button type="button" (click)="cadastrar()">Cadastrar</button>
<button type="button" (click)="voltarLogin()">Voltar login</button> -->


<div id="main">
    <div class="inner">
        <div class="columns">

            <!-- Column 1 (horizontal, vertical, horizontal, vertical) -->
                <div class="image fit">
                    <a href="cadastroContratante"><img src="../../../assets/images/cadastro/Intern_Banner_Template_Usuarios.png" alt="" /></a>
                <!-- </div> -->

            <!-- Column 2 (vertical, horizontal, vertical, horizontal) -->
                <!-- <div class="image fit"> -->
                    <a href="cadastroPrestador"><img src="../../../assets/images/cadastro/Intern_Banner_Template_Prestador.png" alt="" /></a>
                <!-- </div> -->

            <!-- Column 3 (horizontal, vertical, horizontal, vertical) -->
                <!-- <div class="image fit"> -->
                    <a href="cadastroGestor"><img src="../../../assets/images/cadastro/Intern_Banner_Template_Gestor.png" alt="" /></a>
                </div>

        </div>
    </div>
</div>