<!-- <p>usuario: {{this.usuario.name}}</p>

<button type="button" (click)="cadastrar()">Cadastrar</button>
<button type="button" (click)="voltarLogin()">Voltar login</button> -->

<header id="header">
    <div class="inner">
      <div class="content">
        <h1>LCM</h1>
        <h2>Escolha um tipo de perfil para cadastro</h2>
        <a class="button big alt"><span>Vamos lá!</span></a>
      </div>
      <a class="button hidden"><span>Vamos la!</span></a>
    </div>
  </header>


<div id="main">
    <div class="inner">
        <a href="/login" *ngIf="this.usuario == null">Voltar</a>
        <a href="/board" *ngIf="this.usuario != null">Voltar </a>
        <a style="float:right" href="/login" *ngIf="this.usuario != null">Logout </a>
        <div class="columns">

            <div class="image fit">
                <a href="cadastroContratante"><img
                        src="../../../assets/images/cadastro/Intern_Banner_Template_Usuarios.png" alt="" /></a>
            </div>

            <div class="image fit">
                <a href="cadastroPrestador"><img
                        src="../../../assets/images/cadastro/Intern_Banner_Template_Prestador.png" alt="" /></a>
            </div>

            <div class="image fit">
                <a href="cadastroGestor"><img src="../../../assets/images/cadastro/Intern_Banner_Template_Gestor.png"
                        alt="" /></a>
            </div>

        </div>
    </div>
    <!-- <button (click)="voltar()">Voltar</button> -->
</div>


<footer id="footer">
    <a class="info fa fa-info-circle"><span>Sobre</span></a>
    <div class="inner">
      <div class="content">
        <h3>Bem Vindo ao Life Care Manager</h3>
        <p>Com uma equipe qualificada com médicos experientes e o mais alto padrão de atendimento, a LCM oferece
          qualidade, economia, e mais comodidade para você e sua família.</p>
      </div>
      <div class="copyright">
        <h3>Siga-nos</h3>
        <ul class="icons">
          <li><a class="icon fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a class="icon fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a class="icon fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
        </ul>
        &copy; LCM. Developed by: <a>GK2V Team - PUC-Campinas,SP</a>
      </div>
    </div>
  </footer>