<!-- <p>
  cadastro-contratante works!
</p> -->


<!-- Header -->
<header id="header" class="preview">
  <div class="inner">
    <div class="content">
      <h1>LCM</h1>
      <h2>Cadastro Usuário.</h2>
    </div>
    <a href="cadastro" class="button hidden cazinha"><span>Let's Go</span></a>
  </div>
</header>

<!-- Main -->
<div id="preview">
  <div class="inner">
    <div class="image fit">
      <img src="../../../assets/images/cadastro/banner_cadastro.jpg" alt="" />
    </div>
    <div class="content">
      <header>
        <h2>Cadastro Usuário</h2>
      </header>
      <div id="welcome">
        <div class="title">
          <span class="byline"><b>Preencha todos os campos obrigatórios.</b></span>
        </div>
        <br>            
        <div class="row">
            <div class="col-lg-12">
              <section class="panel">
              <header class="panel-heading">
              </header>
              <div class="panel-body">
                <div class="form">
                  <form class="form-validate form-horizontal " id="register_form" method="get" action="">
                    <div class="form-group ">
                      <label for="fullname" class="control-label col-lg-2">Nome Completo<span class="required">*</span></label>
                      <div class="col-lg-10">
                        <input [(ngModel)]="usuario.nomeCompleto" class=" form-control" id="fullname" name="fullname" type="text" />
                      </div>
                    </div>
                  <br>
                  <div class="form-group ">
                    <label for="username" class="control-label col-lg-2">Usuário <span class="required">*</span></label>
                    <div class="col-lg-10">
                      <input [(ngModel)]="usuario.username" class="form-control " id="username" name="username" type="text" />
                    </div>
                  </div>
                  <br>
                  <div class="form-group ">
                    <label for="password" class="control-label col-lg-2">Senha <span class="required">*</span></label>
                    <div class="col-lg-10">
                      <input [(ngModel)]="usuario.senha" class="form-control " id="password" name="password" type="password" />
                    </div>
                  </div>
                  <br>
                  <div class="form-group ">
                    <label for="confirm_password" class="control-label col-lg-2">Confirmar Senha <span class="required">*</span></label>
                    <div class="col-lg-10">
                      <input [(ngModel)]="usuario.confimaSenha" class="form-control " id="confirm_password" name="confirm_password" type="password" />
                    </div>
                  </div>
                  <br>
                  <div class="form-group ">
                    <label for="email" class="control-label col-lg-2">Email <span class="required">*</span></label>
                    <div class="col-lg-10">
                      <input [(ngModel)]="usuario.email" class="form-control " id="email" name="email" type="email" />
                    </div>
                  </div>
                  <br>
                  <div class="form-group ">
                      <label for="nascimento" class="control-label col-lg-2">Data de Nascimento <span class="required">*</span></label>
                      <div class="col-lg-10">
                        <input [(ngModel)]="usuario.nascimento" class="form-control " id="nascimento" name="nasc" type="email" />
                      </div>
                    </div>
                  <br>
                  <div class="form-group ">
                      <label for="sexo" class="control-label col-lg-2">Sexo <span class="required">*</span></label>
                      <select [(ngModel)]="usuario.sexo" id=sexo>
                        <option [selected]="'outro'">Outro</option>
                        <option [selected]="'masc'">Masculino</option>
                        <option [selected]="'fem'">Feminino</option>
                      </select>
                    </div>
                  <br>
                  <div class="form-group ">
                      <label for="cpf" class="control-label col-lg-2">CPF <span class="required">*</span></label>
                      <div class="col-lg-10">
                        <input [(ngModel)]="usuario.cpf" class="form-control " id="cpf" name="cpf" type="email" />
                      </div>
                    </div>
                  <br>
                  <div class="form-group ">
                      <label for="telefone" class="control-label col-lg-2">Telefone <span class="required">*</span></label>
                      <div class="col-lg-10">
                        <input [(ngModel)]="usuario.telefone" class="form-control " id="telefone" name="telefone" type="email" />
                      </div>
                    </div>
                  <br>
                  <div class="form-group ">
                      <label for="cidade" class="control-label col-lg-2">Cidade <span class="required">*</span></label>
                      <div class="col-lg-10">
                        <input [(ngModel)]="usuario.cidade" class="form-control " id="cidade" name="cidade" type="email" />
                      </div>
                    </div>
                  <br>
                  <div class="form-group ">
                      <label for="comentario" class="control-label col-lg-2">Comentário/Necessidades</label>
                      <div class="col-lg-10">
                        <input [(ngModel)]="usuario.comentario" class="form-control " id="comentario" name="comentario" type="email" />
                      </div>
                    </div>
                  <br>
                  <div class="form-group ">
                      <label for="termos" class="control-label col-lg-2">Termos e política de uso <span class="required">*</span></label>
                      <select [(ngModel)]="usuario.termos" id=sexo>
                        <option>Aceito</option>
                        <option>Não aceito</option>
                      </select>
                    </div>
                    <br>
                <br>
                  <div class="form-group">
                  <div class="col-lg-offset-2 col-lg-10">
                    <button (click)="salvar()" class="btn btn-primary" type="submit">Enviar</button>
                    <button (click)="cancelar()" class="btn btn-default" type="button">Cancelar</button>
                  </div>
                  </div>
                </form>
                </div>
              </div>
              </section>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<!-- Footer --> 
<footer id="footer">
  <a href="#" class="info fa fa-info-circle"><span>Sobre</span></a>
  <div class="inner">
    <div class="content">
      <h3>Bem Vindo ao Life Care Manager</h3>
      <p>Com uma equipe qualificada com médicos experientes e o mais alto padrão de atendimento, a LCM oferece qualidade, economia, e mais comodidade para você e sua família.</p>
    </div>
    <div class="copyright">
      <h3>Siga-nos</h3>
      <ul class="icons">
        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
      </ul>
      &copy; LCM. Developed by: <a href="#">GK2V Team - PUC-Campinas,SP</a>
    </div>
  </div>
</footer>