<!-- Header -->
<header id="header">
  <nav class="left">
    <!-- <a href="#menu"><span>Menu</span></a> -->
  </nav>
  <a href="index.html" class="logo">life care manager</a>
  <nav class="right">
    <a (click)="irLogin()" class="button alt">Entrar</a>
  </nav>
</header>

<!-- Menu -->
<nav id="menu">
  <ul class="links">
    <li><a href="index.html">Home</a></li>
    <li><a href="generic.html">Generic</a></li>
    <li><a href="elements.html">Elements</a></li>
  </ul>
  <ul class="actions vertical">
    <li><a href="#" class="button fit">Login</a></li>
  </ul>
</nav>

<!-- Banner -->
<section id="banner">
  <div class="content">
    <h1>Pensamos em tudo</h1>
    <p>Com a qualidade que você precisa e a atenção que seu familiar merece.</p>
    <ul class="actions">
      <li><a (click)="scrollDiv()" class="button scrolly">Veja mais</a></li>
    </ul>
  </div>
</section>

<!-- One -->
<section id="one" class="wrapper">
  <div class="inner flex flex-3">
    <div class="flex-item left">
      <div>
        <h3>Cuidador</h3>
        <p>Um familiar idoso merece todo nosso cuidado e atenção.</p>
      </div>
      <div>
        <h3>Assistente</h3>
        <p>Uma Supervisora Técnica acompanha o atendimento constantemente para avaliar a qualidade e a satisfação do assistido, e também passar orientações ao Cuidador.</p>
      </div>
    </div>
    <div class="flex-item image fit round">
      <!-- <img src="images/pic01.jpg" alt="" /> -->
      <img src="../../../assets/images/home/pic01.jpg" alt="" />
    </div>
    <div class="flex-item right">
      <div>
        <h3>Equipe Multidisciplinar</h3>
        <p>No atendimento domiciliar você possui a mesma qualidade de atendimento que teria em clínicas de tratamento, no conforto da sua casa. </p>
      </div>
      <div>
        <h3>Reabilitação</h3>
        <p>Fisioterapia, Fonoaudiologia, Terapia Ocupacional e Nutrição.</p>
      </div>
    </div>
  </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style1 special">
  <div class="inner">
    <h2>Sinta-se à vontade!</h2>
    <figure>
        <blockquote>
            Qualidade, economia, e mais comodidade para você e sua família.
        </blockquote>
        <footer>
            <cite class="author">GK2V</cite>
            <cite class="company">CEO, Life Care Manager</cite>
        </footer>
    </figure>
  </div>
</section>

<!-- Three -->
<section id="three" class="wrapper">
  <div class="inner flex flex-3">
    <div class="flex-item box">
      <div class="image fit">
        <!-- <img src="images/Background01.jpg" alt="" /> -->
        <img src="../../../assets/images/home/Background01.jpg" alt="" />
      </div>
      <div class="content">
        <h3>Supervisão Técnica</h3>
        <p>Cuidadores Supervisionados em Tempo Integral. <br>Cuidadores supervisionados dão a segurança que todos precisam.</p>
      </div>
    </div>
    <div class="flex-item box">
      <div class="image fit">
        <img src="../../../assets/images/home/Background04.jpg" alt="" />
      </div>
      <div class="content">
        <h3>Planos personalizados</h3>
        <p>Para expor suas necessidades e conhecer nossos planos e atendimento, contate a Life Care Manager.</p>
      </div>
    </div>
    <div class="flex-item box">
      <div class="image fit">
        <img src="../../../assets/images/home/Background02.jpg" alt="" />        
      </div>
      <div class="content">
        <h3>Relato diário aos familiares</h3>
        <p>Todos os dias é enviado um relatório e checklist de tudo o que foi realizado durante o dia.</p>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<!-- <footer id="footer">
  <div class="inner">
    <h2>Entre em contato</h2>
    <ul class="actions">
      <li><span class="icon fa-phone"></span> <a >(19) 98272-3618</a></li>
      <li><span class="icon fa-envelope"></span> <a >contato@lcm.com.br</a></li>
      <li><span class="icon fa-map-marker"></span> Rua José Bonifácio, número 326, Campinas/SP</li>
    </ul>
  </div>
  <div class="copyright">
    &copy; LCM. Developed by: <a>GK2V Team - PUC-Campinas,SP</a>
  </div>
</footer> -->
