<h1>Cadastros a serem analisados</h1>
<section>
  <h2>Contratantes</h2>
  <div class="listaAnalise" *ngFor="let cadastro of this.contratantes">
    <p>{{cadastro.nome}}</p>
    <br>
    <!-- <p *ngFor="let d of cadastro.desc"> | {{d}}</p> -->
    <button (click)="aprovar(true, 1)">Aprovar</button>
    <button (click)="aprovar(false, 1)" class="reprovar">Reprovar</button>
    <button (click)="deletarUser(cadastro.id, 1)">Recusar</button>
  </div>
</section>

<section>
    <h2>Gestores</h2>
  <div class="listaAnalise" *ngFor="let cadastro of this.gestores">
    <p>{{cadastro.nome}}</p>
    <br/>
    <p>Cursos: {{cadastro.cursosCertificacoes}}</p>
    <br/>
    <p>Historico profissional:{{cadastro.historicoProfissional}}</p>
    <!-- <p *ngFor="let d of cadastro.desc"> | {{d}}</p> -->
    <button (click)="aprovar(true, 2)">Aprovar</button>
    <button (click)="aprovar(false, 2)" class="reprovar">Reprovar</button>
    <button (click)="deletarUser(cadastro.id, 2)">Recusar</button>
  </div>
</section>

<section>
    <h2>Prestadores</h2>
  <div class="listaAnalise" *ngFor="let cadastro of this.prestadores">
    <p>{{cadastro.nome}}</p>
    <br>
    <p>Competencias: {{cadastro.competencias}}</p>
    <!-- <p *ngFor="let d of cadastro.desc"> | {{d}}</p> -->
    <button (click)="aprovar(true, 3)">Aprovar</button>
    <button (click)="aprovar(false,3)" class="reprovar">Reprovar</button>
    <button (click)="deletarUser(cadastro.id, 3)">Recusar</button>
  </div>
</section>