<!-- <label class="btn" for="modal-one">Selecionar Perfil</label> -->
<!-- Modal One -->
<div class="modal">
  <input class="modal-open" id="modal-one" type="checkbox" hidden>
  <div class="modal-wrap" aria-hidden="true" role="dialog">
    <label class="modal-overlay" ></label>
    <div class="modal-dialog">
      <div class="modal-header">
        <h2 class="titulo">Dados cadastrais</h2>
        <label class="btn-close" aria-hidden="true" (click)="fechar(false)">×</label>
      </div>
      <div class="modal-body">
        <div>
          <label for="nome">Nome Completo</label>
          <input type="text" id="nome" [(ngModel)]="this.pacienteCompleto.nome">
        </div>
        <div>
          <label for="nasc">Data de Nascimento</label>
          <input type="text" id="nasc" mask="00/00/0000" [(ngModel)]="this.dataFormatada" readonly>
        </div>
        <div>
          <label for="sexo">Sexo</label>
          <input type="text" id="sexo" [(ngModel)]="this.SexoSelecionado" readonly>
        </div>
        <div>
          <label for="tel">Telefone</label>
          <input type="text" id="tel" mask="(00) 000000000" [(ngModel)]="this.pacienteCompleto.telefone">
        </div>
        <div>
          <label for="rua">Rua</label>
          <input type="text" id="rua" [(ngModel)]="this.pacienteCompleto.rua">
        </div>
        <div>
          <label for="numero">Número</label>
          <input type="text" id="numero" mask="000000" [(ngModel)]="this.pacienteCompleto.numero">
        </div>
        <div>
          <label for="complemento">Complemento</label>
          <input type="text" id="complemento" [(ngModel)]="this.pacienteCompleto.complemento">
        </div>
        <div>
          <div>
            <label for="cep">CEP</label>
            <input type="text" id="cep" mask="00000-000" [(ngModel)]="this.pacienteCompleto.cep">
          </div>
          <div>
            <div>
              <div>
                <label for="bairro">bairro</label>
                <input type="text" id="bairro" [(ngModel)]="this.pacienteCompleto.bairro">
              </div>
              <div>
                <label for="estado">Estado</label>
                <select (change)="setEstado($event)" placeholder="this.estadoSelecionado">
                  <option *ngFor="let estado of estados" [selected]="estado.selected" [value]="estado.key">{{estado.value}} </option>
                </select> </div>
              <div>
                <div>
                  <label for="cidade">Cidade</label>
                  <select (change)="setCidade($event)" placeholder="this.cidadeSelecionada">
                    <option *ngFor="let cidade of cidades" [selected]="cidade.selected" [value]="cidade.key">{{cidade.value}}</option>
                  </select>
                </div>
                <label for="msg">Condições clinicas</label>
                <ng-multiselect-dropdown [placeholder]="'custom placeholder'" [data]="condicoesClinicas"
                  [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="setCondicoesClinicas($event)"
                  name="condicoesclinicas" (onSelectAll)="setTodasCondicoesClinicas($event)"
                  (onDeSelect)="removerCondicoesClinicas($event)">
                </ng-multiselect-dropdown>
              </div>
            </div>
            <div class="modal-footer">
              <!-- <label class="btn btn-primary" for="modal-one" (click)="fecha()">Nice!</label> -->
              <button (click)="fechar(false)">Cancelar</button>
              <button (click)="atualizarBeneficiario(this.pacienteCompleto)">Atualizar</button>
            </div>
          </div>
        </div>
      </div>