<div *ngIf="this.perfilSelecionado == null">
  <app-modalperfil (pSelect)="pegaPerfilSelecionado($event)"></app-modalperfil>
</div>
<p>Tipo: {{this.perfilSelecionado}}</p>
<!-- Header -->
<header id="header">
  <div class="inner">
    <div class="content">
      <h1>LCM</h1>
      <h2>Com a qualidade que você precisa <br>e a atenção que você merece.</h2>
      <a class="button big alt"><span>Vamos lá!</span></a>
    </div>
    <a class="button hidden"><span>Let's Go</span></a>
  </div>
</header>

<!-- Main -->
<div id="main">
  <div class="inner">
    <div class="columns">

      <!-- Column 1 (horizontal, vertical, horizontal, vertical) -->
      <div class="image fit clicavel">
        <a><img src="../../../assets/images/board/banner01.png" alt="" /></a>
      </div>

      <!-- Column 2 (vertical, horizontal, vertical, horizontal) -->
      <div class="image fit clicavel">
        <a><img src="../../../assets/images/board/banner02.png" alt="" /></a>
      </div>

      <!-- Column 3 (horizontal, vertical, horizontal, vertical) -->
      <div class="image fit clicavel">
        <a><img src="../../../assets/images/board/banner03.png" alt="" /></a>
      </div>

      <!-- Column 4 (vertical, horizontal, vertical, horizontal) -->
      <div class="image fit clicavel">
        <a><img src="../../../assets/images/board/banner04.png" alt="" /></a>
      </div>

      <div class="image fit clicavel">
        <a href="cadastroPaciente"><img src="../../../assets/images/board/Intern_Banner_Template_Paciente.png"
            alt="" /></a>
      </div>

      <div class="image fit clicavel" style="background-color: blue;">
        <a href="analiseCadastro">analise prestadores</a>
      </div>

      <div class="image fit clicavel" style="background-color:green;">
        <a href="perfil">perfil logado</a>
      </div>

    </div>
  </div>
</div>

<!-- Footer -->
<footer id="footer">
  <a class="info fa fa-info-circle"><span>Sobre</span></a>
  <div class="inner">
    <div class="content">
      <h3>Bem Vindo ao Life Care Manager</h3>
      <p>Com uma equipe qualificada com médicos experientes e o mais alto padrão de atendimento, a LCM oferece
        qualidade, economia, e mais comodidade para você e sua família.</p>
    </div>
    <div class="copyright">
      <h3>Siga-nos</h3>
      <ul class="icons">
        <li><a class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
      </ul>
      &copy; LCM. Developed by: <a>GK2V Team - PUC-Campinas,SP</a>
    </div>
  </div>
</footer>