<!-- Header -->
<header id="header">
  <div class="inner">
    <div class="content">
      <h1>LCM</h1>
      <h2>Aqui esta a lista com os beneficiarios cadastrados.</h2>
      <a class="button big alt"><span>Vamos lá!</span></a>
    </div>
    <a class="button hidden"><span>Vamos lá!</span></a>
  </div>
</header>

<!-- Main -->
<div id="main">
  <div class="inner">
    <!-- <router-outlet></router-outlet> -->
    <a (click)="voltar()">voltar</a>
    <a style="float:right" href="/login" >Logout </a>
    <!-- listagem -->
    <div *ngIf="!this.novoPaciente" style="text-align: center">
      <div class="columns" style="display: inline-flex">
        <!-- Column 1 (horizontal, vertical, horizontal, vertical) -->
        <div class="image fit">
          <a *ngIf="this.perfilPaciente != 4" (click)="criarNovoPaciente()" class="clicavel"><img
              src="../../../../../assets/images/cadastro/Intern_Banner_Template_Cadastrar_Paciente.png" alt="" /></a>
        </div>
        
      </div>

      <h2>Beneficiários ja cadastrados</h2>

      <table>
        <tr>
          <th>Nome</th>
          <th>Idade</th>
          <th>Sexo</th>
          <th>Bairro</th>
          <th>Cidade</th>
          <!-- <th>Condição clinica</th> -->
          <th *ngIf="this.perfilPaciente == 3">Responsável</th>
          <th>&nbsp;</th>
        </tr>
        <tr *ngFor="let paciente of this.todosPacientes">
          <td>{{paciente.nome}}</td>
          <td>{{paciente.idade}}</td>
          <td>{{paciente.sexo}}</td>
          <td>{{paciente.bairro}}</td>
          <td>{{paciente.cidade}}</td>
          <!-- <td>{{paciente.condicoesClinicas}}</td> -->
          <td *ngIf="this.perfilPaciente == 3">{{paciente.responsavel}}</td>
          <button class="editarPaciente" *ngIf="this.perfilPaciente != 4"
            (click)="editarPaciente(paciente)">Visualizar</button>
        </tr>
      </table>
    </div>

    <!-- novo paciente -->
    <div *ngIf="this.novoPaciente">
      <div class="image fit">
        <img src="images/banner_cadastro.jpg" alt="" />
      </div>
      <div class="content">
        <header>
          <h2>Cadastro de Beneficiário</h2>
        </header>
        <div id="welcome">
          <div class="title">
            <span class="byline"><b>Preencha todos os campos obrigatórios.</b></span>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-12">
              <section class="panel">
                <header class="panel-heading">
                </header>
                <div class="panel-body">
                  <div class="form">
                    <form class="form-validate form-horizontal " id="register_form" method="get" action="">
                      <div class="form-group ">
                        <label for="fullname" class="control-label col-lg-2">Nome Completo<span
                            class="required">*</span></label>
                        <div class="col-lg-10">
                          <input [(ngModel)]="this.paciente.nome" class=" form-control" id="fullname" name="fullname"
                            type="text" />
                        </div>
                      </div>
                      <br>
                      <div class="form-group ">
                        <label for="nascimento" class="control-label col-lg-2">Data de Nascimento <span
                            class="required">*</span></label>
                        <div class="col-lg-10">
                          <input [(ngModel)]="this.paciente.dataNascimento" class="form-control " id="nascimento"
                            name="nascimento" type="date" />
                        </div>
                      </div>
                      <br>
                      <div class="form-group ">
                        <label for="sexo" class="control-label col-lg-2">Sexo <span class="required">*</span></label>
                        <select (change)="setSexo($event)" id=sexo>
                          <!-- [(ngModel)]="prestador.sexo" -->
                          <option [value]="3">Outro</option>
                          <option [value]="1">Masculino</option>
                          <option [value]="2">Feminino</option>
                        </select>
                      </div>
                      <br>
                      <!-- <div class="form-group ">
                            <label for="email" class="control-label col-lg-2">email <span class="required">*</span></label>
                            <div class="col-lg-10">
                              <input [(ngModel)]="this.paciente.email" class="form-control " id="email" name="email" type="email" />
                            </div>
                          </div> -->
                      <br>
                      <div class="form-group ">
                        <label for="telefone" class="control-label col-lg-2">Telefone <span
                            class="required">*</span></label>
                        <div class="col-lg-10">
                          <input [(ngModel)]="this.paciente.telefone" mask="(00) 000000000" class="form-control "
                            id="telefone" name="telefone" type="text" />
                        </div>
                      </div>
                      <br>
                      <div class="form-group ">
                        <label for="UF" class="control-label col-lg-2">Estado <span class="required">*</span></label>
                        <select (change)="setEstado($event)">
                          <option *ngFor="let estado of estados" [value]="estado.key">{{estado.value}}</option>
                        </select>
                      </div>
                      <br>
                      <div class="form-group ">
                        <label for="cidade" class="control-label col-lg-2">Cidade <span
                            class="required">*</span></label>
                        <select (change)="setCidade($event)">
                          <option *ngFor="let cidade of cidades" [value]="cidade.key">{{cidade.value}}</option>
                        </select>
                      </div>
                      <br>
                      
                      <div class="form-group ">
                        <label for="bairro" class="control-label col-lg-2">Bairro <span
                            class="required">*</span></label>
                        <div class="col-lg-10">
                          <input [(ngModel)]="this.paciente.bairro" class="form-control " id="bairro" name="bairro"
                            type="text" />
                        </div>
                      </div>
                      <br/>
                      <div class="form-group ">
                        <label for="rua" class="control-label col-lg-2">Rua <span class="required">*</span></label>
                        <div class="col-lg-10">
                          <input [(ngModel)]="this.paciente.rua" class="form-control " id="rua" name="rua"
                            type="text" />
                        </div>
                      </div>
                      <br>
                      <div class="form-group ">
                        <label for="numero" class="control-label col-lg-2">Número <span
                            class="required">*</span></label>
                        <div class="col-lg-10">
                          <input [(ngModel)]="this.paciente.numero" mask="000000" class="form-control " id="numero"
                            name="numero" type="text" />
                        </div>
                      </div>
                      <br>
                      <!-- <div class="form-group ">
                            <label for="cpf" class="control-label col-lg-2">CPF  <span class="required">*</span></label>
                            <div class="col-lg-10">
                              <input [(ngModel)]="this.paciente.cpf" class="form-control " id="cpf" name="cpf" type="text" />
                            </div>
                          </div> -->
                      <br>
                      <div class="form-group ">
                        <label for="cep" class="control-label col-lg-2">CEP <span class="required">*</span></label>
                        <div class="col-lg-10">
                          <input [(ngModel)]="this.paciente.cep" mask="00000-000" class="form-control " id="cep"
                            name="cep" type="text" />
                        </div>
                      </div>
                      <br>
                      <div class="form-group ">
                        <label for="complemento" class="control-label col-lg-2">Complemento <span
                            class="required">*</span></label>
                        <div class="col-lg-10">
                          <input [(ngModel)]="this.paciente.complemento" class="form-control " id="complemento"
                            name="complemento" type="text" />
                        </div>
                      </div>
                      <br>
                      <div class="form-group ">
                        <label for="comentario" class="control-label col-lg-2">Comentário</label>
                        <div class="col-lg-10">
                          <input [(ngModel)]="this.paciente.comentario" class="form-control " id="comentario"
                            name="comentario" type="text" />
                        </div>
                      </div>
                      <br>
                      <div class="form-group ">
                        <label for="condicoesclinicas" class="control-label col-lg-2">Condições<span
                            class="required">*</span></label>
                        <div class="col-lg-10">
                          <ng-multiselect-dropdown [placeholder]="'Condições'" [data]="condicoesClinicas"
                            [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                            (onSelect)="setCondicoesClinicas($event)" name="condicoesclinicas"
                            (onSelectAll)="setTodasCondicoesClinicas($event)"
                            (onDeSelect)="removerCondicoesClinicas($event)">
                          </ng-multiselect-dropdown>
                        </div>
                      </div>
                      <br>
                      <div class="form-group ">
                        <label for="termos" class="control-label col-lg-2">Declaro que sou responsável por esse
                          beneficiário: <span class="required">*</span></label>
                        <select (change)="setTermos($event)" id="termos">
                          <option [value]="false">Não</option>
                          <option [value]="true">Sim</option>
                        </select>
                      </div>
                      <br>
                      <!-- <div class="form-group ">
                        <label for="agree" class="control-label col-lg-2 col-sm-3">Aceita nossa política? <span class="required">*</span></label><input type="checkbox" style="width: 20px" class="checkbox form-control" id="agree" name="agree" />
                          <form> 
                            <INPUT TYPE="RADIO" NAME="OPCAO1" VALUE="op1_epoca"> Aceito <br>
                            <INPUT TYPE="RADIO" NAME="OPCAO2" VALUE="op2_epoca"> Não aceito <br>
                          </form> 
                      </div> -->
                      <br>
                      <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                          <button (click)="salvar()" class="btn btn-primary" type="submit">Salvar</button>
                          <button (click)="voltar()" class="btn btn-default" type="button">Voltar</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Footer -->
<footer id="footer">
  <a href="#" class="info fa fa-info-circle"><span>Sobre</span></a>
  <div class="inner">
    <div class="content">
      <h3>Bem Vindo ao Life Care Manager</h3>
      <p>Com uma equipe qualificada com médicos experientes e o mais alto padrão de atendimento, a LCM oferece
        qualidade, economia, e mais comodidade para você e sua família.</p>
    </div>
    <div class="copyright">
      <h3>Siga-nos</h3>
      <ul class="icons">
        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
      </ul>
      &copy; LCM. Developed by: <a href="#">GK2V Team - PUC-Campinas,SP</a>
    </div>
  </div>
</footer>

<app-modal-editar-paciente *ngIf="!this.utils.nullOrUndef(this.pacienteSelecionado)"
  [pacienteSelecionado]="this.pacienteSelecionado"></app-modal-editar-paciente>